;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[cider/cider-nrepl "0.21.0"]  [clj-kondo "RELEASE"]]

 :builds {:app
          {:target :node-script
           :output-to "build/main.js"
           :main app/main}
          :test
          {:target    :node-test
           :output-to "build/tests.js"
           :ns-regexp "-test$"
           :autorun   true}}}
